img{
    width: 50%;
    height: auto;
    padding-bottom: 20px;
}

body{
    margin: 0;
    font-family: 'Lexend Deca', sans-serif;
}

header{
    display: flex;
    flex-direction: row;
}

.description{
    width: 50%;
    background-color: #ffb83e;
    color: white;
    padding: 20px;
}

h2{
    font-size: 32px;
}

h1{
    font-size: 38px;
    text-decoration: underline;
}

main h1{
    width: calc(100% - 100px);
    background-color: #ffec00;
    margin: 0;
    padding: 50px;
    color: white;
    font-size: 60px;
    text-decoration: none;
    cursor: pointer;
}

main h1:hover{
    text-decoration: underline;
}